body {
  margin: 0;
  height: 100vh;
  perspective: 2000px;
  perspective-origin: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  transition: 1s;
}

.container3d {
  transform-style: preserve-3d;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
}

.block {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.block_1 {
  background-image: url("http://stc01.mir24.tv/media/images/original/original14215590.jpg");
}

.block_2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Moscow-City_%2836211143494%29.jpg/1280px-Moscow-City_%2836211143494%29.jpg");
}

.block_3 {
  background-image: url("http://www.tvtower.ru/upload/about.jpg");
}

.block_4 {
  background-image: url("http://onsmi.ru/uploads/posts/2017-03/stroitelstvo-antidopingovoy-laboratorii-mgu-mozhet-nachatsya-v-2017-godu-sadovnichiy_1.jpeg");
}

.front {
  transform: translateZ(50vh);
}

.top {
  transform: rotateX(90deg);
  top: -50%;
}

.bottom {
  transform: rotateX(-90deg);
  top: 50%;
}

.back {
  transform: rotateX(180deg) translateZ(50vh);
}

@keyframes rotate {
  100% {
    transform: rotateX(360deg);
  }
}
