body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: contain;.
}

.wrapper {
  height: 100vh;
  position: relative;
}

.wrapper__img-wrap {
  width: 100%;
  position: absolute;
  overflow: hidden;
}
