body {
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

.header-menu-link {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.header-menu-link div {
    width: 30px;
    height: 2px;
    background-color: #000;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    visibility: hidden;
}

.menu-opened .menu {
    visibility: visible;
}

.menu__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: 0;
    transition: all .3s;
}

.menu-opened .menu__bg {
    opacity: .7;
}

.menu__box {
    width: 240px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    box-sizing: border-box;
    padding: 20px 0;
    transition: all .3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.menu-opened .menu__box {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.menu__box ul, .menu__box ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.menu__box ul li {
    list-style: none;
}

.menu__box ul li a {
    display: block;
    width: 100%;
    padding: 10px 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: #40340e;
    font-size: 16px;
}

.menu__box ul li a:hover {
    color: #fff;
    background: #125282;
}

.menu__close {
    background: url(../img/close_btn.png) no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: -30px;
    top: 6px;
    transition: all .3s;
    opacity: 0;
}

.menu-opened .menu__close {
    opacity: 1;
}

.menu-opened {
    overflow: hidden;
}


/*HEADER*/

header {
    height: 110px;
    box-shadow: 0px 0px 20px 0px #ccc;
}

.header-content {
    max-width: 1210px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-content-logo {
    width: 331px;
    height: 86px;
    background-image: url('../img/header-content-logo.png');
}

.header-content-about {
    width: 433px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-contacts {
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activeCity {
    color: #000;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: bold;
}

.header-spb {
    cursor: pointer;
}

.header-msk {
    cursor: pointer;
}

.header-content-contacts-position {
    color: #d9d9d9;
}

.header-content-contacts-phone {
    color: #010101;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.36px;
}

.header-content-about-call {
    /*geometry*/
    width: 151px;
    height: 35px;
    background-color: #fed700;
    border-radius: 50px;
    /*text*/
    color: #010101;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.header-content-about-call:hover {
    background-color: #ffe84c;
}


/*SECTION1*/

.section1 {
    height: 528px;
    overflow: hidden;
}

.section1-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;
}

.section1-content-left {
    max-width: 669px;
}

.section1-content-left-title1 {
    color: #000000;
    font-family: Comfortaa;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
}

#companyName {
    font-size: 40px;
}

#point {
    color: #ffc000;
}

.section1-content-left-title2 {
    color: #000000;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.section1-content-left-advantages {
    display: flex;
    justify-content: space-between;
}

.section1-content-left-advantages-item1, .section1-content-left-advantages-item2, .section1-content-left-advantages-item3 {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.section1-content-left-advantages-item1 {
    width: 180px;
}

.section1-content-left-advantages-item2 {
    width: 166px;
}

.section1-content-left-advantages-item3 {
    width: 247px;
}

.section1-content-left-advantages-item-img1 {
    background-repeat: no-repeat;
    width: 161px;
    height: 76px;
    background-image: url('../img/section1-content-left-advantages-item-img1.png');
}

.section1-content-left-advantages-item-img2 {
    background-repeat: no-repeat;
    width: 166px;
    height: 76px;
    background-image: url('../img/section1-content-left-advantages-item-img2.png');
}

.section1-content-left-advantages-item-img3 {
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
    background-image: url('../img/section1-content-left-advantages-item-img3.png');
}

.section1-content-left-advantages-item-text {
    margin-top: 30px;
}


/*RIGHT*/

.section1-content-right {
    max-width: 420px;
    height: 552px;
    border: 3px dotted #ffaa2a;
    overflow: hidden;
}

.section1-content-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 331px;
    margin: 50px;
}

.section1-content-right-wrapper-title {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.section1-content-right-wrapper-title span {
    color: #ffae00;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
}

.section1-content-right-wrapper-coupons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.odometer {
    font-size: 30px !important;
    line-height: 40px;
}

.section1-content-right-wrapper-warning {
    color: #777777;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.section1-content-right-wrapper-get {
    width: 237px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd900;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 400;
}

.section1-content-right-wrapper-get:hover {
    background-color: #ffe84c;
}


/*SECTION2*/

.section2 {
    position: relative;
    top: -40px;
    height: 680px;
    background-image: url('../img/section2.png');
    background-repeat: no-repeat;
    background-position: 0px -220px;
    background-size: cover;
    overflow: hidden;
}

.section2-content {
    max-width: 1200px;
    height: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    margin-top: 14%;
    margin-left: 2%;
}

.section2-content-title1 {
    max-width: 671px;
    color: #000000;
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    font-weight: 400;
    line-height: 44px;
}

.section2-content-title2 {
    max-width: 691px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.section2-content-button {
    width: 360px;
    height: 52px;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    line-height: 52px;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.section2-content-button:hover {
    background-color: #fff296;
}


/*BENEFITS*/

.benefits {
    height: 439px;
    margin-top: -15%;
}

.benefits-content {
    max-width: 1192px;
    margin: auto;
}

.benefits-title {
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.benefits-item1, .benefits-item2, .benefits-item3, .benefits-item4 {
    max-width: 247px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits-item1 {
    height: 279px;
}

.benefits-item2 {
    height: 296px;
}

.benefits-item3 {
    height: 249px;
}

.benefits-item4 {
    height: 231px;
}

.benefits-item-img {
    border: 3px dotted #ffaa2a;
    padding: 20px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.benefits-item1 .benefits-item-img {
    min-width: 41px;
    min-height: 41px;
    max-width: 41px;
    max-height: 41px;
    background-image: url('../img/cupcake.png');
}

.benefits-item2 .benefits-item-img {
    min-width: 39px;
    min-height: 39px;
    max-width: 39px;
    max-height: 39px;
    background-image: url('../img/dove.png');
}

.benefits-item3 .benefits-item-img {
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    background-image: url('../img/rose.png');
}

.benefits-item4 .benefits-item-img {
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    background-image: url('../img/rose2.png');
}

.benefits-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits-item-title {
    font-family: 'Comfortaa';
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}

.benefits-item-text {
    font-family: 'Comfortaa';
    font-size: 16px;
}


/*section3*/

.section3 {
    height: 600px;
    background-image: url('../img/section3.png');
    background-size: cover;
    overflow: hidden;
}

.section3-content {
    max-width: 1028px;
    height: 550px;
    margin: auto;
    position: relative;
    top: 25%;
    background-image: url('../img/girl.png');
    background-repeat: no-repeat;
    background-position: right 5px;
    padding-top: 125px;
}

.section3-title {
    font-family: 'Comfortaa';
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.section3-listTitle {
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
}

.section3-listItem {
    width: 533px;
    font-family: 'Comfortaa';
    font-size: 18px;
    margin-top: 25px;
    padding-left: 25px;
    background: url('../img/ok.png');
    background-repeat: no-repeat;
    background-position: 0px center;
}


/*DOWNLOAD*/

.download {
    height: 305px;
    background-color: #ffd900;
    overflow: hidden;
}

.download-content {
    width: 951px;
    height: 154px;
    margin: auto;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.download-title {
    font-family: 'Comfortaa';
    font-size: 24px;
    line-height: 46px;
}

.download-form {
    display: flex;
    justify-content: space-between;
}

.incorrectPhone, .incorrectMail {
    font-size: 14px;
}

input[type='tel'], input[type='email'], input[type='submit'] {
    min-width: 285px;
    min-height: 50px;
    max-height: 50px;
    padding-left: 20px;
    font-family: 'Comfortaa';
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 95% center;
}

input[type='tel'], input[type='email'] {
    font-size: 18px;
    color: #ffd900;
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}

input[type='submit'] {
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #fff296;
}

input[type='submit']:focus {
    border: none;
    outline: none;
}

.download-note, .download-note-mobile {
    font-family: 'Comfortaa';
    font-size: 14px;
}

.download-note-mobile {
    display: none;
}


/*SECTION4*/

.section4 {
    height: 1975px;
    background: url('../img/shape.png') no-repeat center -40px;
    overflow: hidden;
}

.section4-content {
    width: 1163px;
    margin: auto;
    margin-top: 71px;
}

.section4-title1 {
    font-family: 'Comfortaa';
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
}

.section4-title2 {
    font-family: 'Comfortaa';
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
}

.section4-numbers {
    margin-top: 50px;
}

.section4-number {
    height: 344px;
    max-width: 907px;
    display: flex;
    justify-content: space-between;
}

.section4-number:nth-child(1) {
    background: url('../img/arrowBottom.png') no-repeat 100px 181px;
}

.section4-number:nth-child(2) {
    background: url(../img/arrowBottom2.png) no-repeat 2px 120px;
    padding-left: 143px;
}

.section4-number:nth-child(3) {
    background: url('../img/arrowBottom.png') no-repeat 100px 181px;
}

.section4-number:nth-child(4) {
    background: url(../img/arrowBottom2.png) no-repeat 2px 120px;
    padding-left: 143px;
}

.section4-number:nth-child(2n) {
    position: relative;
    left: 16%;
}

.section4-number-digit {
    color: #ffd800;
    font-family: Ubuntu;
    font-size: 160px;
    font-weight: 500;
    line-height: 54px;
    margin-top: 30px;
}

.section4-number-content {
    max-width: 690px;
}

.section4-number-content-title1 {
    font-family: 'Comfortaa';
    font-size: 16px;
    font-weight: bold;
}

.section4-number-content-title2 {
    font-family: 'Comfortaa';
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.section4-number-content-list {
    max-width: 690px;
    padding: 35px;
    height: 90px;
    background-color: #f2f6f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
}

.section4-list-item {
    font-family: 'Comfortaa';
    font-size: 16px;
    font-weight: 400;
    background: url('../img/ok.png') no-repeat 0px top;
    padding-left: 20px;
}


/*PRICE*/

.price {
    height: 1363px;
    margin-top: 60px;
}

.price-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-title {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 36px;
}

.price-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.price-col1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 735px;
}

.price-text1, .price-text2, .price-text2-1, .price-text2-2 {
    font-family: 'Comfortaa';
    font-size: 14px;
    background-color: #f2f6f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.price-text1 {
    height: 227px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-text2 {
    height: 974px;
    justify-content: space-around;
}

.price-text2-1 {
    height: 185px;
}

.price-text2-2 {
    height: 676px;
}

.ok {
    padding-left: 25px;
    background: url('../img/ok.png') no-repeat;
}

.price-col2 {
    background-image: url('../img/price-col2.png');
    width: 420px;
    height: 1283px;
}


/*PRICE2*/

.price2 {
    height: 447px;
    margin-top: 40px;
}

.price2-content {
    max-width: 1140px;
    border: 3px dotted #ffaa2a;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.price2-content-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 436px;
    height: 331px;
}

.price2-left {
    width: 464px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price2-left-title {
    font-family: 'Comfortaa';
    font-size: 36px;
}

.price2-left-cost {
    color: #ffd800;
    font-family: Ubuntu;
    font-size: 122px;
}

.price2-left-oldPrice {
    display: flex;
    height: 74px;
    flex-direction: column;
    justify-content: space-between;
}

.price2-oldPrice-title {
    font-family: 'Comfortaa';
    font-size: 20px;
}

.price2-oldPrice-value {
    width: 161px;
    height: 46px;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: bold;
    background: url('../img/oldPrice.png') no-repeat center;
}


/*WARRANTY*/

.warranty {
    height: 864px;
    background: url('../img/warranty.png') no-repeat center;
    background-size: cover;
    margin-top: -100px;
    overflow: hidden;
}

.warranty-content {
    max-width: 966px;
    height: 251px;
    margin: auto;
    margin-top: 260px;
}

.warranty-title {
    font-family: 'Comfortaa';
    font-size: 36px;
    text-align: center;
}

.warranty-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.warranty-item-top, .warranty-item-top2, .warranty-item-top4 {
    min-width: 76px;
    min-height: 66px;
    max-width: 76px;
    max-height: 76px;
    border: 3px dotted #fff;
    border-radius: 100px;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}

.warranty-item-top div {
    font-size: 16px;
}

.warranty-item-top span {
    font-size: 26px;
}

.warranty-item-top2, .warranty-item-top4 {
    line-height: 60px;
}

.warranty-item-bottom {
    font-family: 'Comfortaa';
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
}

.warranty-list-item1, .warranty-list-item2 {
    width: 160px;
}

.warranty-list-item3 {
    width: 128px;
}

.warranty-list-item4 {
    width: 186px;
}


/*FEEDBACK*/

.feedback {
    height: 294px;
    margin-top: -85px;
}

.feedback-content {
    max-width: 750px;
    margin: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-title {
    font-family: 'Comfortaa';
    font-size: 36px;
    text-align: center;
}

.feedback-block {
    max-width: 767px;
    height: 251px;
    display: flex;
    align-items: center;
}

.feedback-photo-wrapper {
    min-width: 154px;
    min-height: 153px;
    border-radius: 100px;
    background: url('../img/photoWrapper.png') no-repeat center;
    position: relative;
    left: 32px;
    top: -30px;
}

.feedback-block-photo {
    min-width: 79px;
    min-height: 79px;
    max-width: 79px;
    max-height: 79px;
    margin: auto;
    margin-top: 35px;
    background: url('../img/feedbackPhoto.png') no-repeat;
}

.feedback-block-text {
    max-width: 603px;
    height: 217px;
    background-image: url('../img/feedbackText.png');
    background-size: cover;
    padding-top: 50px;
    padding-left: 48px;
    line-height: 30px;
    font-family: 'Comfortaa';
    font-size: 17px;
    font-style: italic;
}


/*cooperation*/

.cooperation {
    max-width: 1200px;
    height: 530px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cooperation-title {
    font-family: 'Comfortaa';
    font-size: 36px;
    text-align: center;
}

.cooperation-list {
    display: flex;
    max-width: 1187px;
    height: 445px;
}

.cooperation-c1 {
    width: 480px;
    height: 445px;
    background-color: #f6f6f6;
}

.cooperation-c2, .cooperation-c3 {
    width: 300px;
}

.c1-img {
    width: 480px;
    height: 235px;
    background-image: url('../img/c1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.c2-img, .c3-img {
    width: 295px;
    height: 216px;
    background-image: url('../img/c2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.c3-img {
    background-image: url('../img/c3.png');
}

.c-title {
    font-family: 'Comfortaa';
    font-size: 18px;
    font-weight: bold;
}

.c-url {
    font-family: 'Comfortaa';
    font-size: 18px;
    color: #989898;
}

.cooperation-button {
    display: block;
    width: 237px;
    height: 50px;
    background-color: #ffd800;
    border-radius: 50px;
    font-family: 'Comfortaa';
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    margin-top: 60px;
}

.cooperation-button:hover {
    background-color: #ffe84c;
    cursor: pointer;
}


/*FOOTER*/

footer {
    height: 209px;
    background-color: #404040;
    color: #fff;
    overflow: hidden;
}

.footer-content {
    display: flex;
    max-width: 1128px;
    margin: auto;
    justify-content: space-between;
    height: 209px;
    align-items: center;
}

.footer-spb {
    cursor: pointer;
    font-size: 13px;
}

.footer-msk {
    cursor: pointer;
    font-size: 13px;
}

.footer-col1, .footer-col2, .footer-col3 {
    height: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-col2 {
    width: 430px;
}

.footer-city {
    display: flex;
}

.footer-tel, .footer-mail {
    font-size: 14px;
    font-weight: bold;
}

.footer-col2-data {
    line-height: 26px;
}
